body, html {
    margin: 0;
    padding: 0;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.background {
    margin-top: 1%;
    width: 65%;
    height: 65%;
    object-fit: cover;
}
.nave {
    position: absolute;
    width: 30%; 
    /*animation: landing 3s ease-in-out infinite;*/
    animation-delay: 1s;

}

/* ANIMACIÓ */

@keyframes landing {
    0% {
        top: -100px;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        top: calc(100% - 550px); 
    }
}

/* SVG */

#playButton {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.outerCircle {
    fill: #4CAF50;
}
.innerTriangle {
    fill: #FFFFFF;
}